<!--
<h1>List of cocktails</h1>
<h3>app/views/cocktails/index.html.erb</h3>
app/assets/images/bar_banner.jpg
-->

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://asset.montecarlosbm.com/styles/hero_desktop_wide_responsive/s3/media/orphea/krl235_dcs_mocano_07_0160.jpg.jpeg);">
  <div class="container">
    <h1><strong>Bloody Rails Bar</strong></h1>
    <p>Discover the Art of Cocktail</p>
  </div>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @cocktails.each do |cocktail| %>
      <tr>
        <td><%= cocktail.name %></td>
        <td><%= link_to 'Show', cocktail %></td>
      </tr>
    <% end %>
  </tbody>
</table>
